<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Factura - PizzARG</title>
  <link rel="stylesheet" href="./styles.css"> <!-- Agrega tu archivo CSS de estilos -->
</head>
<body>
  <h1>Detalle de la Factura</h1>

  <div id="facturaDetails">
    <!-- Aquí se mostrarán los detalles de la factura generada -->
  </div>

  <script src="./factura.js"></script> <!-- Agrega tu archivo JavaScript para cargar los detalles de la factura -->
</body>
</html>
